.mt--7 {
  margin-top: -10rem !important;
}

.btn {
  margin-bottom: 2em;
}

.table {
  margin-bottom: 5em;
}
.table-responsive {
  margin-bottom: 2em;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
