.mt--7 {
  margin-top: -10rem !important;
}

.btn {
  margin-bottom: 2em;
}

.table {
  background-color: white;
  margin: 2em 5em;
}

.toolbar {
  margin: -5em 2em 0em;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
