<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Creaate New License</h3>
        </div>
        <div class="table-responsive">
          <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired >License Name</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid license name!">
                <input nz-input formControlName="licenseName" id="licenseName" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired >License Description</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid license description!">
                <input nz-input formControlName="licenseDescription" id="licenseDescription" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired >Expired Date</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid expired time!">
                <nz-date-picker formControlName="expiredTime" nzFormat="MM/dd/yyyy HH:mm:SS"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
                <button nz-button nzType="primary">Save</button>
                <button nz-button nzType="primary">Cancel</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">License Details</h3>
        </div>
        <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzSpan="24">
            <nz-table #basicTable [nzData]="license">
              <thead>
              <tr>
                <th>License Name</th>
                <th>Description</th>
                <th>Store Path</th>
                <th>Created By</th>
                <th>Expire Time</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.licenseName }}</td>
                <td>{{ data.licenseDescription }}</td>
                <td>{{ data.licensePath }}</td>
                <td>{{ data.createdBy }}</td>
                <td>{{ data.expireTime }}</td>
                <td>
                  <a (click)="handleEdit()">Edit</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a (click)="handleDelete(data.id)">Delete</a>
                </td>
              </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

